{% extends 'base.html' %}
{% load staticfiles %}

{% block jquery %}
 
    $("#id_username").change(function () {
      var username = $(this).val();


      $.ajax({
        url: "{% url 'persons:validate_username' %}",
        data: {
          'username': username
        },
        dataType: 'json',
        success: function (data) {
          if (data.is_taken) {
            alert(data.error_message);
          }
        }
      });

    });
{% endblock %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Sign up</button>
  </form>
{% endblock %}