{% extends "base.html" %}
{% load staticfiles %}
{% block head_title %}home_title{% endblock %}
{% block content %}
         {% if form.errors %}
            <p>your username and password didnt match</p>
         
          {% endif %} 
           <form role"form" class"form-horizontal" method="post" action="">
           {% csrf_token %}
           {{form.as_p}}
           <input class="btn btn-primary" type="submit" value="Login" />
           <input type="hidden" name="next" value="{{next}}"/>
           </form>
      <p><a href="{% url 'password_reset' %}">forgot password?</a></p>


        {{site_name}}
      {% endblock %}